@page
@model SupermarketWEB.Pages.Paymodes.PayCreateModel
@{
    ViewData["Title"] = "PayCreate";
}
<h1>PayCreate</h1>
<h2>Paymode</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Paymodes.Name" class="control-label"></label>
                <input asp-for="Paymodes.Name" class="form-control" />
                <span asp-validation-for="Paymodes.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Paymodes.Observation" class="control-label"></label>
                <input asp-for="Paymodes.Observation" class="form-control" />
                <span asp-validation-for="Paymodes.Observation" class="text-danger"></span>
            </div>
            <div class="form-group  mt-3">
                <input type="submit" value="Create" class="btn btn-success" />
                <a asp-page="PayIndex" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }  

}